@import 'variables';

.showcase {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem 0;

    &__title {
        font-size: $font-size;
        margin: 10px 0;
    }

    &__item {
        background-color: white;
        border-radius: 1rem;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        min-height: 20rem;
        padding: .25rem 1rem;
        border: 1px solid $color-bg-box;
    }

    &__image {
        height: auto;
        width: 50%;
    }

    &__button {
        background-color: $color-font;
        border-radius: 1rem;
        border: 1px solid $color-bg-default;
        color: white;
        font-weight: bold;
        padding: 1rem 2rem;
        font-size: $font-size-medium;
        text-decoration: none;
        align-self: center;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }

    @media (max-width: 426px) {
        
            display: block;
            padding: 0;
    
            &__item {
                margin: 2rem 0;
            }
            &__button {
                font-size: 1.3rem;
            }
    }
}

.products {
    &__title {
        padding-top: 1.8rem;
        font-size: $font-title;
    }

    @media (max-width: 426px) {
        &__title {
            margin: 0;
            font-size: $font-size;
         }
    }

}