$color-font: #219473 ;
$color-bg-default: #FFF9ED;
$color-bg-box: #F8DED8;
$font-default: Arial, Helvetica, sans-serif;
$font-title: 2.5rem;
$font-size: 2rem;
$font-size-medium: 1.5rem;
$font-size-small: 1.3rem;