@import 'variables';
@import 'nav';
@import 'about';
@import 'showcase';
@import 'contact';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font-default;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $color-bg-default;
}

h2 {
    color: $color-font;
    text-align: center;
    font-size: $font-title;
}

header,
section,
footer {
    display: block;
    float: left;
    width: 100%;
}

.container {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    max-width: 90vw;
}
img {
   width: 100%;
   height: auto;
}

.logo {
    display: flex;
    justify-content: center;
    img {
       width: 60%;
    }

    @media (max-width: 426px) {
        img {
            width: 100%;
        }
    }
}

footer {
    float: left;
    background-color: $color-bg-box;

    p{
        font-size: 1.3rem;
        text-align: center;
    }

    a {
        text-decoration: none;
        color: $color-font;
    }
}