@import 'variables';
@import 'nav';
@import 'about';
@import 'showcase';
@import 'contact';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font-default;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $color-bg-default;
}

h2 {
    color: $color-font;
    text-align: center;
    font-size: $font-title;
}

header,
section,
footer {
    display: block;
    float: left;
    width: 100%;
}

.container {
    display: flex;
    flex-flow: column;
    margin: 4rem auto;
    max-width: 90vw;
}

img {
   width: 100%;
   height: auto;
}

.logo {
    display: flex;
    justify-content: center;

    img {
      width: 100%;
    }
}

.title {
    font-size: $font-title;
    margin-bottom: 2rem;
    text-transform: lowercase;
    margin-bottom: 2rem;
}

button {
    border-radius: 5px;
    border: none;
    color: white;
    background-color: $color-font;
    padding: 10px;
    font-size: $font-size-small;
    text-transform: uppercase;
    letter-spacing: .3;
    cursor: pointer;

    &:hover {
        background-color: #31b891;
     }
}

footer {
    background-color: $color-bg-box;

    p{
        font-size: 1.3rem;
        text-align: center;
    }

    a {
        text-decoration: none;
        color: $color-font;
    }
}